#formulario{
    font-size: 120%;
    position: absolute;
    top: 25%;
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    
}

#formulario h2{
    border-bottom: 2px white solid;
    border-top: 2px solid white;
}

.lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.lista .item1{
    grid-column: 1;
    grid-row: 1;
}
.lista .item2{
    grid-column: 2;
    grid-row: 1;
}
.lista .item3{
    grid-column: 3;
    grid-row: 1;
}
.lista .item4{
    grid-column: 1;
    grid-row: 3;
}
.lista .item5{
    grid-column: 2;
    grid-row: 3;
}
.lista .item6{
    grid-column: 3;
    grid-row: 3;
}
.lista .item7{
    grid-column: 2;
    grid-row: 5;
}












